<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		  
<mapper namespace="com.iu.demo.board.qna.QnaMapper">

	<delete id="setFileDelete" parameterType="QnaFileVO">
		delete FROM QNAFILES WHERE FILENUM = #{fileNum}
	</delete>

	<select id="getFileDetail" resultType="QnaFileVO" parameterType="QnaFileVO">
		select * from QNAFILES WHERE FILENUM = #{fileNum}
	</select>
	
	<select id="getList" resultType="QnaVO" parameterType="Pager" >
		select num, title, contents, regDate, writer
		from QNA
		WHERE writer LIKE CONCAT('%',#{search},'%')
		ORDER BY NUM DESC 
		LIMIT #{startRow},#{perPage}
	</select>
	
	<!-- useGeneratedKeys="true" DB에서 autoincrement되는 값을 사용하겠다. -->
	<insert id="addQna" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO QNA VALUES (0, #{writer},#{title}, #{contents},0,SYSDATE(),0,0,0)
	</insert>
	
	<insert id="setFileAdd" parameterType="QnaFileVO">
		INSERT INTO QNAFILES VALUES (0,#{num}, #{fileName}, #{oriName})
	</insert>
	
	<select id="getDetail" parameterType="QnaVO" resultMap="detailResult">
		select * 
		from QNA Q
		LEFT JOIN QNAFILES F 
		ON Q.num = F.NUM
		WHERE Q.num = #{num}
	</select>
	
	<resultMap type="QnaVO" id="detailResult">
		<id column="num" property="num"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="contents" property="contents"/>
		<result column="regDate" property="regDate"/>
		<result column="hit" property="hit"/>
		<result column="ref" property="ref"/>
		<collection property="fileVOs" ofType="QnaFileVO" javaType="List">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</collection>
	</resultMap>
</mapper>